
<div class="block">
  <div class="flex justify-center" id="start-page">
    <div class="w-2/5">
      <div class="flex items-center">
        <hr class="w-16 h-1 my-8 mr-5 border-0 rounded custom-orange-dash">
        <p class="custom-orange uppercase text-sm font-bold tracking-widest">Explore the nature beauty</p>
      </div>

      <div>
        <p class="text-6xl font-bold mb-2">Discover</p>
        <p class="text-5xl">Wonderful Indonesia</p>
      </div>
    </div>
  </div>

  <div class="block my-5">
    <div class="flex justify-center">
      <div class="flex justify-between w-3/5">

        <%= image_tag("articles/article1", class: "article-preview w-2/5") %>

        <div class="block w-2/5">
          <div class="flex items-center">
            <hr class="w-16 h-1 my-8 mr-5 border-0 rounded custom-orange-dash">
            <p class="custom-orange uppercase text-sm font-bold tracking-widest"><%= @articles.first.category.title %></p>
          </div>

          <p class="text-6xl font-bold mb-5"><%= @articles.first.title %></p>
          <p class="mb-5"><%= @articles.first.body %></p>

          <p class="inline mt-5 custom-orange">read more</p>
          <i class="fa-solid fa-arrow-right custom-orange"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="block my-5">
    <div class='flex justify-center'>
      <div class="block w-3/5">
        <swiper-container navigation="true" pagination="true" scrollbar="true" effect="coverflow">
          <% @articles.each do |article| %>
            <swiper-slide>
              <%= image_tag article.preview_img, style: "height: 800px; width: 100%; object-fit: cover;" %>

              
            </swiper-slide>
          <% end %>
        </swiper-container>
      </div>
    </div>
  </div>

    <div class="block my-5">
    <div class="flex justify-center">
      <div class="flex justify-between w-3/5">

        <div class="block w-2/5">
          <div class="flex items-center">
            <hr class="w-16 h-1 my-8 mr-5 border-0 rounded custom-orange-dash">
            <p class="custom-orange uppercase text-sm font-bold tracking-widest"><%= @articles.last.category.title %></p>
          </div>

          <p class="text-6xl font-bold mb-5"><%= @articles.last.title %></p>
          <p class="mb-5"><%= @articles.last.body %></p>

          <p class="inline mt-5 custom-orange">read more</p>
          <i class="fa-solid fa-arrow-right custom-orange"></i>
        </div>

        <%= image_tag @articles.last.preview_img, class: "article-preview w-2/5" %>
      </div>
    </div>
  </div>







</div>
