<header class="w-full text-gray-700 body-font">
  <div class="container flex flex-col items-start justify-between p-6 mx-auto md:flex-row">
    <%= link_to "QWERy", root_path, class: "flex items-center mb-4 font-medium title-font md:mb-0" %>

    <nav class="flex flex-wrap items-center justify-center pl-24 text-base md:ml-auto md:mr-auto">
      <%= link_to "Information", "javascript:void(0)", class: "mr-5 font-medium" %>
      <%= link_to "About us", "javascript:void(0)", class: "mr-5 font-medium" %>
      <%= link_to "Culture", "javascript:void(0)", class: "mr-5 font-medium" %>
    </nav>

    <div class="items-center h-full">
    
      <%= link_to "javascript:void(0)", class: "mr-5 font-medium " do %>
        <i class="fa fa-thin fa-magnifying-glass inline mr-2"></i>
        <p class="mr-5 font-medium inline ">Search</p>
       <% end %>
    </div>
  </div>
</header>
