<!DOCTYPE html>
<html>
  <head>
    <title>TravelSite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/cba15fe931.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <%= render "layouts/header" %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
